<div class="container">
    <div class="row">
        <div class="col-md-7">
            <embed src="{{movie.flash}}" allowFullScreen="true" quality="high" height="600" align="middle" type="application/x-shockwave-flash" style="width:100%;">
            <div class="panel panel-defatul">
                <div class="panel-heading">
                    <h3>评论区</h3>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                        {{#each comments as |comment|}}
                        <li class="media">
                            <div class="pull-left">
                                <a class="comment" href="#comments" data-cid="{{comment._id}}", data-tid="{{comment.from._id}}">
                                    <img class="media-object" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" alt="" class="media-object" style="width: 64px; height: 64px;">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{comment.from.name}}</h4>
                                <p>{{comment.content}}</p>
                            </div>
                                {{#each comment.replys as |reply|}}
                                <div class="media">
                                    <div class="pull-left">
                                        <a href="#comments" class="commnet" data-cid="{{comment._id}}", data-tid="{{reply.from._id}}">
                                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" alt="" class="media-object" style="width: 64px; height: 64px;">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {{reply.from.name}}
                                            <span class="text-info">&nbsp;回复&nbsp;</span>
                                            {{reply.to.name}}
                                        </h4>
                                        <p>{{reply.content}}</p>
                                    </div>
                                </div>
                                {{/each}}
                            <hr>
                        </li>
                        {{/each}}
                    </ul>
                    <div id="comments">
                        <form id="commentForm" action="/user/comment" method="POST">
                            <input type="hidden" name="comment[movie]" value="{{movie._id}}">
                            <input type="hidden" name="comment[from]" value="{{user._id}}">
                            <div class="form-group">
                                <textarea name="comment[content]" rows="3" class="form-control"></textarea>
                            </div>
                            {{#if user}}
                            <button class="btn btn-primary" type="submit">提交</button>
                            {{else}}
                            <a href="#" class="navbar-link" data-toggle="modal" data-target="#signinModal">登录后才能评论</a>
                            {{/if}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>电影名字</dt>
                <dd>{{movie.title}}</dd>
                <dt>导演</dt>
                <dd>{{movie.director}}</dd>
                <dt>国家</dt>
                <dd>{{movie.country}}</dd>
                <dt>语言</dt>
                <dd>{{movie.language}}</dd>
                <dt>上映年份</dt>
                <dd>{{movie.year}}</dd>
                <dt>简介</dt>
                <dd>{{movie.summary}}</dd>
            </dl>
        </div>
    </div>
</div>
{{#contentFor "script"}}
    <script src="/js/detail.js"></script>
{{/contentFor}}
