<div class="container">
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>电影名字</th>
                    <th>导演</th>
                    <th>国家</th>
                    <th>上映年份</th>
                    <th>录入时间</th>
                    <th>pv</th>
                    <th>查看</th>
                    <th>更新</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                {{#each movies as |movie|}}
                <tr class="item-id-{{_id}}">
                    <td>{{movie.title}}</td>
                    <td>{{movie.director}}</td>
                    <td>{{movie.country}}</td>
                    <td>{{movie.year}}</td>
                    <td>{{moment movie.meta.createAt "YYYY-MM-DD"}}</td>
                    <td>{{movie.pv}}</td>
                    <td>
                        <a target="_blank" href="/movie/{{movie._id}}">查看</a>
                    </td>
                    <td>
                        <a target="_blank" href="/admin/movie/update/{{movie._id}}">修改</a>
                    </td>
                    <td>
                        <button class="btn btn-danger delete" data-id="{{movie._id}}">删除</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{#contentFor "script"}}
    <script src="/js/admin.js"></script>
{{/contentFor}}
