<div class="container">
    <div class="row">
        <div class="card bg-light flex-fill">
            <div class="card-header">
                {{keyword}}
            </div>
            <div class="card-body">
                {{#each movies as |movie|}}
                <div class="col-md-2">
                    <div class="img-thumbnail">
                        <a href="/movie/{{movie._id}}">
                            <img src="{{movie.poster}}" alt="{{movie.title}}">
                        </a>
                        <div class="caption">
                            <h3>{{movie.title}}</h3>
                            <a href="/movie/{{movie._id}}" class="btn btn-primary" role="button">观看预告片</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="pagination">
            {{#for 1 5 1}}
            {{#if (compare ../currentPage this)}}
            <li class="active page-link page-item">
                <span>{{../currentPage}}</span>
            </li>
            {{else}}
            <li class="page-link">
                <a href="/results?p={{this}}&{{../query}}">{{this}}</a>
            </li>
            {{/if}}
            {{/for}}
        </ul>
    </div>
</div>
