<div class="container">
    {{#each categories as |category|}}
    <div class="row">
        <div class="card bg-light flex-fill">
            <div class="card-header">
                <a href="/results?cat={{category._id}}&p=1">{{category.name}}</a>
            </div>
            <div class="card-body">
                {{#each category.movies as |movie|}}
                <div class="col-md-2">
                    <div class="img-thumbnail">
                        <a href="/movie/{{movie._id}}">
                            {{#if (contain movie.poster "http")}}
                            <img src="{{movie.poster}}" alt="{{movie.title}}">
                            {{else}}
                            <img src="/upload/{{movie.poster}}" alt="{{movie.title}}">
                            {{/if}}
                        </a>
                        <div class="caption">
                            <h3>{{movie.title}}</h3>
                            <a href="/movie/{{movie._id}}" class="btn btn-primary" role="button">观看预告片</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
